{% extends "layout.html" %}

{% block title %}
    Chai Tweet
{% endblock title %}

{% block content %}
    <h1 class="text-center text-white mt-4">Welcome to Chai's Django Project</h1>

    <h2 class="text-center text-2xl font-bold text-gray-900 dark:text-white mt-6">{% if form.instance.pk %} Edit Tweet {% else %} Create Tweet{% endif %}</h2>

    <form method="post" enctype="multipart/form-data" class="max-w-lg mx-auto bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md mt-6">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mt-4 flex justify-between">
            <button class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded" type="submit">Submit</button>
            <a href="{% url 'tweet_list' %}" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">Back to tweet list</a>
        </div>
    </form>
{% endblock content %}
