{% extends "layout.html" %}

{% block title %}
    Chai Tweet
{% endblock title %}

{% block content %}
    <h1 class="text-center text-white mt-4">Welcome to Chai's Django Project</h1>

    <div class="text-center mt-6">
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="{% url 'tweet_create' %}">Create a tweet</a>
    </div>

    <div class="container mx-auto grid gap-6 mt-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {% for tweet in tweets %}
            <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden">
                {% if tweet.photo %}
                    <img src="{{ tweet.photo.url }}" class="w-full h-48 object-cover" alt="">
                {% endif %}
                <div class="p-4">
                    <h5 class="text-xl font-semibold mb-2 dark:text-gray-200">{{ tweet.user.username }}</h5>
                    <p class="text-gray-700 dark:text-gray-400">{{ tweet.text }}</p>
                    {% if tweet.user == user %}
                    <div class="mt-4 flex justify-between">
                        <a href="{% url 'tweet_edit' tweet.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</a>
                        <a href="{% url 'tweet_delete' tweet.id %}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
